body{
    background-color: #f2f2f6;    
    font-family:'Inter';  
    height: auto;  
}
.registration-form{   
    background-color:#ffffff;          
    padding: 30px;    
    text-align: center;    
    border-radius: 15px;              
    width: 500px;    
}
.item{
	border-radius: 10px;    
    padding: 10px; 
    font-size: 15px;   
    color: #081e42;
    font-weight: 500;     
}





